* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// App component

.app-container {
  height: 100vh;
  background-color: rgb(243, 230, 214);
}

.app-container-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
}

//Video component

.video-container {
  position: relative;
}

.video-player {
  width: 700px;
  border-radius: 20px;
}
